.WrapperDetailStartup {
  margin-top: 77px;
}
.WrapperDetailStartup .col-md-7 {
  background: white;
  padding: 20px 25px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  height: max-content;
  position: relative;
}
.DeleteUser {
  position: absolute;
  top: 8px;
  right: 15px;
}
.WrapperDetailStartup .col-md-4 {
  width: 200px;
  margin-left: 50px;
}
.WrapperDetailStartup .col-md-4 button {
  margin: 25px auto 0 !important;
  display: block;
}
.WrapperDetailStartup .col-md-4 div {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.WrapperDetailStartup .detail p {
  font-weight: bold;
}
.WrapperDetailStartup .detail p span {
  float: right;
}
.ImgQrCode {
  width: 100%;
  height: auto;
}
.width {
  width: 40%;
}
.ml-20 {
  margin-left: 20px;
}
.WrapperPrintQr {
  display: none;
}

@media print {
  .Sidebar,
  .Content {
    display: none;
  }
  .WrapperPrintQr {
    display: block !important;
    margin-top: 30px;
  }
  .WrapperPrintQr img {
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
  }
  .WrapperPrintQr p {
    font-size: 22px;
    font-weight: bold;
    color: var(--bg-sidebar);
    text-align: center;
  }
}
